---
openapi: 3.0.0
info:
  title: National Vulnerability Database API
  description: Swagger specification for <https://nvd.nist.gov/developers/vulnerabilities>
  version: 1.0.0
servers:
  - url: https://services.nvd.nist.gov/rest/json
paths:
  /cve/1.0/{cveId}/:
    get:
      tags: [cve]
      summary: Retrieve a specific CVE
      parameters:
        - name: cveId
          in: path
          description: The CVE Identifier. This is the only parameter that is part of the URL Path.
          schema:
            type: string
          required: true
        - $ref: '#/components/parameters/addOns'
        - $ref: '#/components/parameters/apiKey'
      responses:
        '200':
          $ref: '#/components/responses/200Response'
  /cves/1.0/:
    get:
      tags: [cves]
      summary: Retrieve a collection of CVE
      description: The parameters used to retrieve a collection are intended to limit or filter results. The parameters selected for the request are known as the search critera, and all parameters should be included in the URL query. Please note how the only difference betweeen the URL for requesting a single CVE and requesting a collection is a single "s".
      parameters:
        - $ref: '#/components/parameters/addOns'
        - $ref: '#/components/parameters/apiKey'
        - name: cpeMatchString
          in: query
          description: This parameter is used to filter vulnerabilities based on the affected products. The value of `cpeMatchString` is compared it against the CPE Match Criteria present on all CVE applicability statements. For more information on Common Platform Enumeration (CPE) please visit NIST's [Computer Security Resource Center](https://csrc.nist.gov/projects/security-content-automation-protocol/specifications/cpe).
          schema:
            type: string
        - name: cvssV2Metrics
          in: query
          description: |
            These parameters are used to filter vulnerabilities based on [CVSS vector strings](https://www.first.org/cvss/specification-document). Either full or partial vector strings may be used.

                https://services.nvd.nist.gov/rest/json/cves/1.0?cvssV2Metrics=AV:L/AC:H/Au:M/C:N/I:N/A:N

                https://services.nvd.nist.gov/rest/json/cves/1.0?cvssV2Metrics=C:H/A:N
          schema:
            type: string
        - name: cvssV2Severity
          in: query
          description: CVSS refers to the scoring system used by NIST to assess the severity of vulnerabilities, [https://www.first.org/cvss/](https://cwe.mitre.org/). Either the `cvssV2Severity` or `cvssV3Severity` parameter may be used to find vulnerabilities having a severity of LOW, MEDIUM, or HIGH. For CVSS V3.x, `cvssV3Severity=CRITICAL` is also supported.
          schema:
            type: string
        - name: cvssV3Metrics
          in: query
          description: |
            These parameters are used to filter vulnerabilities based on [CVSS vector strings](https://www.first.org/cvss/specification-document). Either full or partial vector strings may be used.

                https://services.nvd.nist.gov/rest/json/cves/1.0?cvssV3Metrics=S:U/AV:N/AC:L/PR:H/UI:N/C:L/I:L/A:N/E:F/RL:X/CR:H/IR:H/AR:H

                https://services.nvd.nist.gov/rest/json/cves/1.0?cvssV3Metrics=S:U/AV:N/AC:L/PR:H/UI:N/C:L/I:L/A:N/E:F/RL:X
          schema:
            type: string
        - name: cvssV3Severity
          in: query
          description: CVSS refers to the scoring system used by NIST to assess the severity of vulnerabilities, [https://www.first.org/cvss/](https://cwe.mitre.org/). Either the `cvssV2Severity` or `cvssV3Severity` parameter may be used to find vulnerabilities having a severity of LOW, MEDIUM, or HIGH. For CVSS V3.x, `cvssV3Severity=CRITICAL` is also supported.
          schema:
            type: string
        - name: cweId
          in: query
          description: CWE refers to the classification of vulnerabilities used by NIST and managed by MITRE at [https://cwe.mitre.org/](https://cwe.mitre.org/). NVD analysts associate one or more CWE to each vulnerability during the analysis process.
          schema:
            type: string
        - name: includeMatchStringChange
          in: query
          description: >
            `true` By default, the `modStartDate` and `modEndDate` parameters include only a collection of CVE where the CVE information was modified. The modification of product names by NIST in the Official CPE Dictionary does not modify related CVE. `includeMatchStringChange=true` returns a collection of CVE where either the vulnerabilities or the associated product names were modified
          schema:
            type: boolean
        - name: isExactMatch
          in: query
          description: >
            `true` If the keyword is a phrase, i.e., contains more than one term, including `isExactMatch=true` retrieves records matching the exact phrase. Otherwise, the results contain any record having any of the terms.
          schema:
            type: boolean
        - name: keyword
          in: query
          description: This parameter is used to retrieve records where a word or phrase is found in the vulnerability description or reference links.
          schema:
            type: string
        - name: modStartDate
          in: query
          description: |
            These parameters specify a collection of CVE that were modified during the period. If filtering by the modification date, both `modStartDate` and `modEndDate` are **REQUIRED**. Filtering with only one parameter will return a successful response without data. The maximum allowable range when using the date range parameters is 120 consecutive days. Date range parameters are in the form:

                yyyy-MM-ddTHH:mm:ss:SSS Z

            The T is a literal to separate the date from the time. The Z indicates an offset-from-UTC. If a positive Z value is used (such as +01:00 for Central European Time) then the "+" should be encoded in the request as "%2B". This may be handled automatically by the user agent. An example is provided below showing a +01:00 offset-from-UTC.

                https://services.nvd.nist.gov/rest/json/cves/1.0/?modStartDate=2021-08-04T13:00:00:000 UTC%2B01:00&modEndDate=2021-10-22T13:36:00:000 UTC%2B01:00
          schema:
            type: string
            format: date-time
        - name: modEndDate
          in: query
          description: |
            These parameters specify a collection of CVE that were modified during the period. If filtering by the modification date, both `modStartDate` and `modEndDate` are **REQUIRED**. Filtering with only one parameter will return a successful response without data. The maximum allowable range when using the date range parameters is 120 consecutive days. Date range parameters are in the form:

                yyyy-MM-ddTHH:mm:ss:SSS Z

            The T is a literal to separate the date from the time. The Z indicates an offset-from-UTC. If a positive Z value is used (such as +01:00 for Central European Time) then the "+" should be encoded in the request as "%2B". This may be handled automatically by the user agent. An example is provided below showing a +01:00 offset-from-UTC.

                https://services.nvd.nist.gov/rest/json/cves/1.0/?modStartDate=2021-08-04T13:00:00:000 UTC%2B01:00&modEndDate=2021-10-22T13:36:00:000 UTC%2B01:00
          schema:
            type: string
            format: date-time
        - name: pubStartDate
          in: query
          description: |
            These parameters specify a collection of CVE that were added to the NVD (i.e., published) during the period. If filtering by the publication date, both `pubStartDate` and `pubEndDate` are **REQUIRED**. Filtering with only one parameter will return a successful response without data. The maximum allowable range when using the date range parameters is 120 consecutive days. Date range parameters are in the form:

                yyyy-MM-ddTHH:mm:ss:SSS Z

            The T is a literal to separate the date from the time. The Z indicates an offset-from-UTC. If a positive Z value is used (such as +01:00 for Central European Time) then the "+" should be encoded in the request as "%2B". This may be handled automatically by the user agent. An example is provided below showing a -05:00 offset-from-UTC.

                https://services.nvd.nist.gov/rest/json/cves/1.0/?pubStartDate=2021-08-04T13:00:00:000 UTC-05:00&pubEndDate=2021-10-22T13:36:00:000 UTC-05:00
          schema:
            type: string
            format: date-time
        - name: pubEndDate
          in: query
          description: |
            These parameters specify a collection of CVE that were added to the NVD (i.e., published) during the period. If filtering by the publication date, both `pubStartDate` and `pubEndDate` are **REQUIRED**. Filtering with only one parameter will return a successful response without data. The maximum allowable range when using the date range parameters is 120 consecutive days. Date range parameters are in the form:

                yyyy-MM-ddTHH:mm:ss:SSS Z

            The T is a literal to separate the date from the time. The Z indicates an offset-from-UTC. If a positive Z value is used (such as +01:00 for Central European Time) then the "+" should be encoded in the request as "%2B". This may be handled automatically by the user agent. An example is provided below showing a -05:00 offset-from-UTC.

                https://services.nvd.nist.gov/rest/json/cves/1.0/?pubStartDate=2021-08-04T13:00:00:000 UTC-05:00&pubEndDate=2021-10-22T13:36:00:000 UTC-05:00
          schema:
            type: string
            format: date-time
        - name: resultsPerPage
          in: query
          description: |
            This parameter specifies the maximum number of results that are returned based on the request parameters. The default value is 20. For network considerations, maximum allowable limit is 2,000.

            The response content `totalResults` indicates the number of CVE results that match request parameters. If the value of `totalResults` is greater than the value of `resultsPerPage`, the parameter `startIndex` may be used in subsequent requests to identify the starting point for the request.
          schema:
            type: number
            default: 20
            maximum: 2000
        - name: startIndex
          in: query
          description: |
            This parameter determines the first CVE in the collection returned by the response. The index is zero-based, meaning the first CVE is at index zero. The response header `totalResults` indicates the number of CVE results that match request parameters. If the value of `totalResults` is greater than the value of `resultsPerPage`, the parameter `startIndex` may be used in subsequent requests to identify the first CVE for the request.

            The best, most efficient, practice for keeping up to date with the NVD is to use the date range parameters in order to request only those CVE that have been published or modified since the last request.

            Presently NVD contains more than 160,000 vulnerabilities relating to thousands of vendor products. Multiple consecutive requests are required to return all available records. Requesting an API key significantly raises the number of requests that can be made in a given timeframe. However, NIST firewall rules in place to prevent denial of service attacks on NVD can thwart your application. To avoid this, it is recommended that your application sleeps for several seconds between requests in order that your legitimate requests are not denied.
          schema:
            type: number
            default: 0
      responses:
        '200':
          description: A specific CVE
          $ref: '#/components/responses/200Response'
components:
  parameters:
    apiKey:
      name: apiKey
      in: query
      description: The API Key provided to the requestor. This parameter is part of the URL query.
      schema:
        type: string
      required: false
    addOns:
      name: addOns
      in: query
      description: >
        This parameter is part of the URL query.

        By default, the response includes all CPE applicability statements associated with the vulnerability. Applicability statements are CPE match strings that may be used in searching the Official CPE Dictionary. Including `addOns=dictionaryCpes` adds the official CPE names to the request, but can return a significantly denser amount of text.
      schema:
        type: array
        items:
          type: string
          enum: [dictionaryCpes]
  responses:
    200Response:
      description: The response returned by the vulnerability API. Each CVE has a text description and reference links. Vulnerabilities that have undergone NVD analysis include CVSS scores, product applicability statements, and more. The response is based on four JSON schema that were developed independently as part of three separate initiatives. Hence the stylistic differences in data element names. The following diagram shows where the main feed schema is dependent on the other three.
      content:
        application/json:
          schema:
            type: object
            properties:
              resultsPerPage:
                type: integer
              startIndex:
                type: integer
              totalResults:
                type: integer
              result:
                $ref: '#/components/schemas/nvd_cve_feed'
  schemas:
    nvd_cve_feed:
      type: object
      properties:
        CVE_data_type:
          type: string
        CVE_data_format:
          type: string
        CVE_data_version:
          type: string
        CVE_data_numberOfCVEs:
          description: NVD adds number of CVE in this feed
          type: string
        CVE_data_timestamp:
          description: NVD adds feed date timestamp
          type: string
        CVE_Items:
          description: NVD feed array of CVE
          type: array
          items:
            $ref: '#/components/schemas/nvd_cve_feed_def_cve_item'
      required:
      - CVE_data_type
      - CVE_data_format
      - CVE_data_version
      - CVE_Items
    nvd_cve_feed_def_cpe_name:
      description: CPE name
      type: object
      properties:
        cpe22Uri:
          type: string
        cpe23Uri:
          type: string
        lastModifiedDate:
          type: string
      required:
      - cpe23Uri
    nvd_cve_feed_def_cpe_match:
      description: CPE match string or range
      type: object
      properties:
        vulnerable:
          type: boolean
        cpe22Uri:
          type: string
        cpe23Uri:
          type: string
        versionStartExcluding:
          type: string
        versionStartIncluding:
          type: string
        versionEndExcluding:
          type: string
        versionEndIncluding:
          type: string
        cpe_name:
          type: array
          items:
            $ref: "#/components/schemas/nvd_cve_feed_def_cpe_name"
      required:
      - vulnerable
      - cpe23Uri
    nvd_cve_feed_def_node:
      description: Defines a node or sub-node in an NVD applicability statement.
      properties:
        operator:
          type: string
        negate:
          type: boolean
        children:
          type: array
          items:
            $ref: "#/components/schemas/nvd_cve_feed_def_node"
        cpe_match:
          type: array
          items:
            $ref: "#/components/schemas/nvd_cve_feed_def_cpe_match"
    nvd_cve_feed_def_configurations:
      description: Defines the set of product configurations for a NVD applicability
        statement.
      properties:
        CVE_data_version:
          type: string
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/nvd_cve_feed_def_node"
      required:
      - CVE_data_version
    nvd_cve_feed_def_subscore:
      description: CVSS subscore.
      type: number
      minimum: 0
      maximum: 10
    nvd_cve_feed_def_impact:
          description: Impact scores for a vulnerability as found on NVD.
          type: object
          properties:
            baseMetricV3:
              description: CVSS V3.x score.
              type: object
              properties:
                cvssV3:
                  $ref: '#/components/schemas/cvss_v3.x'
                exploitabilityScore:
                  $ref: "#/components/schemas/nvd_cve_feed_def_subscore"
                impactScore:
                  $ref: "#/components/schemas/nvd_cve_feed_def_subscore"
            baseMetricV2:
              description: CVSS V2.0 score.
              type: object
              properties:
                cvssV2:
                  $ref: '#/components/schemas/cvss_v2.0'
                severity:
                  type: string
                exploitabilityScore:
                  $ref: "#/components/schemas/nvd_cve_feed_def_subscore"
                impactScore:
                  $ref: "#/components/schemas/nvd_cve_feed_def_subscore"
                acInsufInfo:
                  type: boolean
                obtainAllPrivilege:
                  type: boolean
                obtainUserPrivilege:
                  type: boolean
                obtainOtherPrivilege:
                  type: boolean
                userInteractionRequired:
                  type: boolean
    nvd_cve_feed_def_cve_item:
      description: Defines a vulnerability in the NVD data feed.
      properties:
        cve:
          $ref: '#/components/schemas/cve_4.0'
        configurations:
          $ref: "#/components/schemas/nvd_cve_feed_def_configurations"
        impact:
          $ref: "#/components/schemas/nvd_cve_feed_def_impact"
        publishedDate:
          type: string
        lastModifiedDate:
          type: string
      required:
      - cve
    cve_4.0:
      properties:
        data_type:
          enum:
          - CVE
        data_format:
          enum:
          - MITRE
        data_version:
          enum:
          - '4.0'
        CVE_data_meta:
          type: object
          required:
          - ID
          - ASSIGNER
          properties:
            ID:
              $ref: "#/components/schemas/cve_4.0_cve_id"
            ASSIGNER:
              $ref: "#/components/schemas/cve_4.0_email_address"
            STATE:
              $ref: "#/components/schemas/cve_4.0_state_id"
        affects:
          type: object
          required:
          - vendor
          properties:
            vendor:
              type: object
              required:
              - vendor_data
              properties:
                vendor_data:
                  type: array
                  minItems: 0
                  items:
                    type: object
                    required:
                    - vendor_name
                    - product
                    properties:
                      vendor_name:
                        type: string
                      product:
                        type: object
                        required:
                        - product_data
                        properties:
                          product_data:
                            type: array
                            minItems: 1
                            items:
                              $ref: "#/components/schemas/cve_4.0_product"
        problemtype:
          type: object
          required:
          - problemtype_data
          properties:
            problemtype_data:
              type: array
              minItems: 0
              items:
                type: object
                required:
                - description
                properties:
                  description:
                    type: array
                    minItems: 0
                    items:
                      $ref: "#/components/schemas/cve_4.0_lang_string"
        references:
          type: object
          required:
          - reference_data
          properties:
            reference_data:
              type: array
              maxItems: 500
              minItems: 0
              items:
                $ref: "#/components/schemas/cve_4.0_reference"
        description:
          type: object
          required:
          - description_data
          properties:
            description_data:
              type: array
              minItems: 0
              items:
                $ref: "#/components/schemas/cve_4.0_lang_string"
    cve_4.0_cve_id:
      type: string
      pattern: "^CVE-[0-9]{4}-[0-9]{4,}$"
    cve_4.0_email_address:
      type: string
      pattern: "^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$"
    cve_4.0_state_id:
      type: string
    cve_4.0_product:
      type: object
      required:
      - product_name
      - version
      properties:
        product_name:
          type: string
        version:
          type: object
          required:
          - version_data
          properties:
            version_data:
              type: array
              minItems: 1
              items:
                type: object
                required:
                - version_value
                properties:
                  version_value:
                    type: string
                  version_affected:
                    type: string
    cve_4.0_reference:
      type: object
      required:
      - url
      properties:
        url:
          maxLength: 500
          type: string
          pattern: "^(ftp|http)s?://\\S+$"
        name:
          type: string
        refsource:
          type: string
        tags:
          type: array
          items:
            type: string
    cve_4.0_lang_string:
      type: object
      required:
      - lang
      - value
      properties:
        lang:
          type: string
        value:
          type: string
          maxLength: 3999
    cvss_v2.0:
      type: object
      properties:
        version:
          description: CVSS Version
          type: string
          enum:
          - '2.0'
        vectorString:
          type: string
          pattern: "^((AV:[NAL]|AC:[LMH]|Au:[MSN]|[CIA]:[NPC]|E:(U|POC|F|H|ND)|RL:(OF|TF|W|U|ND)|RC:(UC|UR|C|ND)|CDP:(N|L|LM|MH|H|ND)|TD:(N|L|M|H|ND)|[CIA]R:(L|M|H|ND))/)*(AV:[NAL]|AC:[LMH]|Au:[MSN]|[CIA]:[NPC]|E:(U|POC|F|H|ND)|RL:(OF|TF|W|U|ND)|RC:(UC|UR|C|ND)|CDP:(N|L|LM|MH|H|ND)|TD:(N|L|M|H|ND)|[CIA]R:(L|M|H|ND))$"
        accessVector:
          $ref: "#/components/schemas/cvss_v2.0_accessVectorType"
        accessComplexity:
          $ref: "#/components/schemas/cvss_v2.0_accessComplexityType"
        authentication:
          $ref: "#/components/schemas/cvss_v2.0_authenticationType"
        confidentialityImpact:
          $ref: "#/components/schemas/cvss_v2.0_ciaType"
        integrityImpact:
          $ref: "#/components/schemas/cvss_v2.0_ciaType"
        availabilityImpact:
          $ref: "#/components/schemas/cvss_v2.0_ciaType"
        baseScore:
          $ref: "#/components/schemas/cvss_v2.0_scoreType"
        exploitability:
          $ref: "#/components/schemas/cvss_v2.0_exploitabilityType"
        remediationLevel:
          $ref: "#/components/schemas/cvss_v2.0_remediationLevelType"
        reportConfidence:
          $ref: "#/components/schemas/cvss_v2.0_reportConfidenceType"
        temporalScore:
          $ref: "#/components/schemas/cvss_v2.0_scoreType"
        collateralDamagePotential:
          $ref: "#/components/schemas/cvss_v2.0_collateralDamagePotentialType"
        targetDistribution:
          $ref: "#/components/schemas/cvss_v2.0_targetDistributionType"
        confidentialityRequirement:
          $ref: "#/components/schemas/cvss_v2.0_ciaRequirementType"
        integrityRequirement:
          $ref: "#/components/schemas/cvss_v2.0_ciaRequirementType"
        availabilityRequirement:
          $ref: "#/components/schemas/cvss_v2.0_ciaRequirementType"
        environmentalScore:
          $ref: "#/components/schemas/cvss_v2.0_scoreType"
      required:
      - version
      - vectorString
      - baseScore
    cvss_v2.0_accessVectorType:
      type: string
      enum:
      - NETWORK
      - ADJACENT_NETWORK
      - LOCAL
    cvss_v2.0_accessComplexityType:
      type: string
      enum:
      - HIGH
      - MEDIUM
      - LOW
    cvss_v2.0_authenticationType:
      type: string
      enum:
      - MULTIPLE
      - SINGLE
      - NONE
    cvss_v2.0_ciaType:
      type: string
      enum:
      - NONE
      - PARTIAL
      - COMPLETE
    cvss_v2.0_exploitabilityType:
      type: string
      enum:
      - UNPROVEN
      - PROOF_OF_CONCEPT
      - FUNCTIONAL
      - HIGH
      - NOT_DEFINED
    cvss_v2.0_remediationLevelType:
      type: string
      enum:
      - OFFICIAL_FIX
      - TEMPORARY_FIX
      - WORKAROUND
      - UNAVAILABLE
      - NOT_DEFINED
    cvss_v2.0_reportConfidenceType:
      type: string
      enum:
      - UNCONFIRMED
      - UNCORROBORATED
      - CONFIRMED
      - NOT_DEFINED
    cvss_v2.0_collateralDamagePotentialType:
      type: string
      enum:
      - NONE
      - LOW
      - LOW_MEDIUM
      - MEDIUM_HIGH
      - HIGH
      - NOT_DEFINED
    cvss_v2.0_targetDistributionType:
      type: string
      enum:
      - NONE
      - LOW
      - MEDIUM
      - HIGH
      - NOT_DEFINED
    cvss_v2.0_ciaRequirementType:
      type: string
      enum:
      - LOW
      - MEDIUM
      - HIGH
      - NOT_DEFINED
    cvss_v2.0_scoreType:
      type: number
      minimum: 0
      maximum: 10
    cvss_v3.x:
      type: object
      properties:
        version:
          description: CVSS Version
          type: string
          enum:
          - '3.0'
          - '3.1'
        vectorString:
          type: string
          pattern: "^CVSS:3.[01]/((AV:[NALP]|AC:[LH]|PR:[UNLH]|UI:[NR]|S:[UC]|[CIA]:[NLH]|E:[XUPFH]|RL:[XOTWU]|RC:[XURC]|[CIA]R:[XLMH]|MAV:[XNALP]|MAC:[XLH]|MPR:[XUNLH]|MUI:[XNR]|MS:[XUC]|M[CIA]:[XNLH])/)*(AV:[NALP]|AC:[LH]|PR:[UNLH]|UI:[NR]|S:[UC]|[CIA]:[NLH]|E:[XUPFH]|RL:[XOTWU]|RC:[XURC]|[CIA]R:[XLMH]|MAV:[XNALP]|MAC:[XLH]|MPR:[XUNLH]|MUI:[XNR]|MS:[XUC]|M[CIA]:[XNLH])$"
        attackVector:
          $ref: "#/components/schemas/cvss_v3.x_attackVectorType"
        attackComplexity:
          $ref: "#/components/schemas/cvss_v3.x_attackComplexityType"
        privilegesRequired:
          $ref: "#/components/schemas/cvss_v3.x_privilegesRequiredType"
        userInteraction:
          $ref: "#/components/schemas/cvss_v3.x_userInteractionType"
        scope:
          $ref: "#/components/schemas/cvss_v3.x_scopeType"
        confidentialityImpact:
          $ref: "#/components/schemas/cvss_v3.x_ciaType"
        integrityImpact:
          $ref: "#/components/schemas/cvss_v3.x_ciaType"
        availabilityImpact:
          $ref: "#/components/schemas/cvss_v3.x_ciaType"
        baseScore:
          $ref: "#/components/schemas/cvss_v3.x_scoreType"
        baseSeverity:
          $ref: "#/components/schemas/cvss_v3.x_severityType"
        exploitCodeMaturity:
          $ref: "#/components/schemas/cvss_v3.x_exploitCodeMaturityType"
        remediationLevel:
          $ref: "#/components/schemas/cvss_v3.x_remediationLevelType"
        reportConfidence:
          $ref: "#/components/schemas/cvss_v3.x_confidenceType"
        temporalScore:
          $ref: "#/components/schemas/cvss_v3.x_scoreType"
        temporalSeverity:
          $ref: "#/components/schemas/cvss_v3.x_severityType"
        confidentialityRequirement:
          $ref: "#/components/schemas/cvss_v3.x_ciaRequirementType"
        integrityRequirement:
          $ref: "#/components/schemas/cvss_v3.x_ciaRequirementType"
        availabilityRequirement:
          $ref: "#/components/schemas/cvss_v3.x_ciaRequirementType"
        modifiedAttackVector:
          $ref: "#/components/schemas/cvss_v3.x_modifiedAttackVectorType"
        modifiedAttackComplexity:
          $ref: "#/components/schemas/cvss_v3.x_modifiedAttackComplexityType"
        modifiedPrivilegesRequired:
          $ref: "#/components/schemas/cvss_v3.x_modifiedPrivilegesRequiredType"
        modifiedUserInteraction:
          $ref: "#/components/schemas/cvss_v3.x_modifiedUserInteractionType"
        modifiedScope:
          $ref: "#/components/schemas/cvss_v3.x_modifiedScopeType"
        modifiedConfidentialityImpact:
          $ref: "#/components/schemas/cvss_v3.x_modifiedCiaType"
        modifiedIntegrityImpact:
          $ref: "#/components/schemas/cvss_v3.x_modifiedCiaType"
        modifiedAvailabilityImpact:
          $ref: "#/components/schemas/cvss_v3.x_modifiedCiaType"
        environmentalScore:
          $ref: "#/components/schemas/cvss_v3.x_scoreType"
        environmentalSeverity:
          $ref: "#/components/schemas/cvss_v3.x_severityType"
      required:
      - version
      - vectorString
      - baseScore
      - baseSeverity
    cvss_v3.x_attackVectorType:
      type: string
      enum:
      - NETWORK
      - ADJACENT_NETWORK
      - LOCAL
      - PHYSICAL
    cvss_v3.x_modifiedAttackVectorType:
      type: string
      enum:
      - NETWORK
      - ADJACENT_NETWORK
      - LOCAL
      - PHYSICAL
      - NOT_DEFINED
    cvss_v3.x_attackComplexityType:
      type: string
      enum:
      - HIGH
      - LOW
    cvss_v3.x_modifiedAttackComplexityType:
      type: string
      enum:
      - HIGH
      - LOW
      - NOT_DEFINED
    cvss_v3.x_privilegesRequiredType:
      type: string
      enum:
      - HIGH
      - LOW
      - NONE
    cvss_v3.x_modifiedPrivilegesRequiredType:
      type: string
      enum:
      - HIGH
      - LOW
      - NONE
      - NOT_DEFINED
    cvss_v3.x_userInteractionType:
      type: string
      enum:
      - NONE
      - REQUIRED
    cvss_v3.x_modifiedUserInteractionType:
      type: string
      enum:
      - NONE
      - REQUIRED
      - NOT_DEFINED
    cvss_v3.x_scopeType:
      type: string
      enum:
      - UNCHANGED
      - CHANGED
    cvss_v3.x_modifiedScopeType:
      type: string
      enum:
      - UNCHANGED
      - CHANGED
      - NOT_DEFINED
    cvss_v3.x_ciaType:
      type: string
      enum:
      - NONE
      - LOW
      - HIGH
    cvss_v3.x_modifiedCiaType:
      type: string
      enum:
      - NONE
      - LOW
      - HIGH
      - NOT_DEFINED
    cvss_v3.x_exploitCodeMaturityType:
      type: string
      enum:
      - UNPROVEN
      - PROOF_OF_CONCEPT
      - FUNCTIONAL
      - HIGH
      - NOT_DEFINED
    cvss_v3.x_remediationLevelType:
      type: string
      enum:
      - OFFICIAL_FIX
      - TEMPORARY_FIX
      - WORKAROUND
      - UNAVAILABLE
      - NOT_DEFINED
    cvss_v3.x_confidenceType:
      type: string
      enum:
      - UNKNOWN
      - REASONABLE
      - CONFIRMED
      - NOT_DEFINED
    cvss_v3.x_ciaRequirementType:
      type: string
      enum:
      - LOW
      - MEDIUM
      - HIGH
      - NOT_DEFINED
    cvss_v3.x_scoreType:
      type: number
      minimum: 0
      maximum: 10
    cvss_v3.x_severityType:
      type: string
      enum:
      - NONE
      - LOW
      - MEDIUM
      - HIGH
      - CRITICAL
